
<div class="bg-image" 
class="container-fluid-expand-lg text-center"

style="background-image: url('https://img.freepik.com/vector-gratis/fondo-semitono-comic-verde_1409-1271.jpg?w=1380&t=st=1663267783~exp=1663268383~hmac=3fd6e8b681cb2eb81daacd51c385f378a65d71cbd983380005f160423598a4bd'); height: 150vh;">

<blockquote class="text-center" >
    <strong><h1 class="font-weight-bold p-4" style="color: white ;">Get Powerful WorldPress Hosting</h1></strong>
    <h4 class="font-weight-normal" style="color: white ;">Exclusive offer for Envato users: </h4>
    <em><h3 class="font-weight-bold" style="color: white ;">Up to <span style="color: #e97a13">62%</span> Special Discount + <span style="color: #e97a13">Free theme installation</span></h3></em>

</blockquote>

<app-container></app-container>