<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!--Ejercicio 1-->

<!--
  
  <head>
  <style>

    *{ 
    padding:0;
    margin:0;
    }
    </style>

</head>
<header style="background-color: #1c1779;" >
 
 <H1 style="color:rgb(255, 254, 254);" >ITESCAM</H1>
  
</header>



<table> 
  <tr>
    <td height="400px"width="1250" style="background-color: rgb(224, 224, 224);">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptate doloremque unde earum maiores tenetur aut veniam provident, voluptas culpa facere aperiam? Sunt laborum adipisci nihil quis quidem vel obcaecati.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, optio totam. Culpa tenetur enim nisi? Quos veritatis laborum nihil impedit eligendi, quo deleniti rem recusandae dolore ipsa quae voluptate voluptatem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut vero earum autem facere ex quibusdam sed illo ratione dicta? Incidunt aut aperiam neque cumque et nemo asperiores sit, a delectus!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam doloribus praesentium accusamus laborum laudantium sed perspiciatis, facere earum libero. Ea molestiae voluptas veritatis nobis unde iure soluta possimus dignissimos amet.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto blanditiis dolores atque eius magni aspernatur saepe temporibus nesciunt a velit facere culpa corporis explicabo suscipit, in dolorem, molestias unde aperiam!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eaque repellendus error. Expedita, quasi. Nihil maiores debitis rerum! Cumque fugiat tempore nihil ad ipsam dignissimos ratione, atque ut odio exercitationem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus expedita debitis iure omnis vel excepturi rerum libero non, iusto consectetur. Maiores hic repellat veniam aliquam dicta. Tempora nihil suscipit debitis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut harum corrupti dolores reprehenderit, nesciunt quibusdam et facilis commodi, ullam corporis nisi perspiciatis debitis architecto fugiat! Laboriosam laudantium labore ratione sint.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima asperiores quis soluta quibusdam, sequi fugiat dolor, earum molestiae error dolorem provident labore maiores ex aliquam autem veritatis modi eveniet vel.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus recusandae autem ea. Ducimus voluptate quo expedita. Possimus dolor voluptatum cumque rerum tempore dolores recusandae reprehenderit asperiores, consectetur dolore molestias quasi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fuga sit odit amet explicabo vel fugiat minus. Voluptate ex exercitationem repellat, itaque facilis neque consectetur repudiandae illo laudantium? Possimus, eaque?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus praesentium assumenda fugiat odio omnis cum neque error! Veritatis porro officia ullam adipisci, sapiente suscipit voluptate, totam dolore ipsam sit at!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam atque delectus perspiciatis quibusdam unde officia fugit, incidunt, voluptatibus quia nam molestias repellendus fuga. Ad perspiciatis quibusdam architecto corrupti error iste.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit commodi ut vitae suscipit illum dolorem a! Totam sit consequatur perspiciatis molestiae laudantium, voluptatibus praesentium quo quia tenetur tempore perferendis dignissimos!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ipsam illo perspiciatis voluptate deserunt, molestiae ex optio laboriosam delectus? Repellendus atque, ipsum porro qui ut accusantium iure esse error ex.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nostrum quidem nemo velit sint! Inventore, earum officiis. Similique possimus optio voluptates veniam nostrum? Quas pariatur rerum quisquam minima, iusto vero.
  </td>

    <td width="300" style="background-color: rgb(255, 102, 102);">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente iste quidem. Perferendis, nostrum repudiandae maiores consequuntur cum aspernatur accusamus nemo aliquam cumque ducimus repellendus obcaecati labore asperiores quidem earum?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate debitis libero fugiat nesciunt, corporis ipsam impedit excepturi architecto exercitationem fuga accusamus quisquam in, repudiandae magni. Adipisci explicabo repudiandae corrupti facere?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus perferendis autem molestias voluptatum error aspernatur, soluta nihil ea optio cupiditate delectus sapiente corrupti voluptas a quod animi! Sint, id excepturi!    
    </td>
    </tr>

  </table>

  <tr>
    <td height="250px"width="500" style="background-color: #1c1779;">
    <p style="color:rgb(255, 254, 254);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo magnam iusto beatae asperiores dolorem consequatur nihil. Incidunt non quibusdam vero ipsum ipsa, ipsam, a, veniam totam molestiae blanditiis rerum commodi.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid hic non perferendis laudantium quam accusamus consequuntur ad, voluptatem eveniet dolores dolorem molestias, expedita ab? Nobis itaque iure molestias maxime nulla.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur cupiditate quam doloribus itaque mollitia. Reiciendis odio quod molestiae ut? Rem cupiditate, obcaecati ipsa deleniti fugiat corrupti quaerat qui tenetur officiis.</p>
    </td>
    
    <td height="250px"width="500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quasi animi beatae laudantium? Iste atque cumque reiciendis alias harum consectetur expedita dicta repellendus! Nobis quibusdam corrupti labore necessitatibus inventore fugiat.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel similique placeat eum. Expedita, alias. Fuga doloribus molestias quaerat, eos consequatur magnam eius, sapiente magni error similique modi et ipsam excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad illo ducimus reprehenderit fugiat laboriosam dignissimos, hic quae. Quasi aliquam id nihil alias quia aliquid fugiat expedita. Possimus sapiente ducimus at?
    </td>

    <td height="250px"width="500" style="background-color: #1c1779;">
      <p style="color:rgb(255, 255, 255);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in harum rem ducimus vel odio delectus nihil minima laudantium, tenetur suscipit voluptatibus soluta esse vitae ut veniam. Praesentium, necessitatibus illum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum aut ex error consectetur! Veniam, praesentium fuga aliquid ipsam in eveniet labore maxime nobis ea dignissimos, non quisquam, odit excepturi deserunt.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo dicta excepturi accusamus laudantium eum quo officia nisi, autem deserunt repellendus recusandae cupiditate similique illo facere voluptatum doloribus architecto. A.</p>
    </td>

    <td height="250px"width="500" >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quo, voluptate necessitatibus delectus pariatur vel impedit obcaecati amet. Ipsum nam pariatur ex vitae in dolores beatae! Officia laudantium maiores praesentium!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. At laborum nam natus corrupti qui, incidunt sed unde aperiam a consectetur corporis provident magni vel expedita fugit maxime, eaque ratione quidem.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, fuga impedit? Culpa eveniet recusandae debitis, iusto adipisci voluptate quaerat doloremque labore, porro et, quidem architecto autem aut molestiae quas eligendi.
    </td>
  </tr>  

  <footer class="footer" style="color:rgb(255, 255, 255);">
    <p style="text-align:center" >&copy; Emotisa Insana</p>
  
  </footer>
   
-->



<!--Ejercicio 2-->

<!--

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
  <div class = "cajas">
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor, sit amet consectetur</p>
  </div>

  <div class = "cajas2">
    <h2><strong><u>Idea Secundaria</u></strong></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>

  <div class = "cajas3">
    <h2><strong><u>Idea Secundaria</u></strong></h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore porro </p>
  </div>
</body>

-->

<!--parte2 act2-->

<!--

<div class="wrapper">
  <div class="one">
    <h2>Heading</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem a dolorem magnam nostrum laboriosam dolor qui ducimus fugit quibusdam adipisci quis voluptas, earum sunt quasi aut praesentium temporibus expedita quos.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis adipisci illo doloribus voluptatum esse magnam repellat vero velit sapiente cum nobis eum quam obcaecati voluptate perferendis autem, fugit necessitatibus nesciunt.
    <div class="Boton">
      <button type="button" class="Botones">New Character</button>
    </div>
  </div>
  <div class="two">
    <h2>Heading</h2>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, facere nemo soluta alias, quidem odio placeat ipsum nisi quae et ab quasi ea animi suscipit velit repellat rem nobis possimus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem itaque, non harum vero, neque accusamus quibusdam quam soluta, maxime similique iure nihil modi incidunt doloribus explicabo architecto sed nisi temporibus.
    <div class="Boton">
      <button type="button" class="Botones">New Character</button>
    </div>
  </div>
  
  <div class="three">
    <h2>Heading</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta exercitationem minima delectus magni nam ratione enim nulla molestiae, provident dolorum quibusdam hic saepe. Autem labore illo quia porro molestiae ullam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quos nobis iure aut soluta maxime praesentium! Aut dolores cupiditate tempora nam dicta, omnis labore quidem praesentium facilis dolor error libero.
    <div class="Boton">
      <button type="button" class="Botones">New Character</button>
    </div>
  </div>
  </div>
  <footer class="footer">
    <p style="text-align:center" style="background-color: rgb(253, 197, 197);">&copy; Emotisa Insana</p>
  
  </footer>
  <div>
</div>

-->

  
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
