<!--
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <p class="fs-4">Gracias por confiar en nosotros </p>
            <p>En unos minutos nos estaremos comunicando con usted, estar atento a los medios de contacto</p>
            
        </div>
        <div class="col-md-9 register-right">
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">¡Su reporte a sido enviado!</h3>
                        </div>
                    </div>
                </div>
                <form method="get" action="/page2">
                                            
                    <input type="submit" class="btnRegister"   value="Regresar a la Página Principal"/>
                    </form>
                    </div>
                </div>
          
            -->