<div class="container overflow-hidden text-center p-4 mb-5 col-9">
  <div class="row gx-4">

    <div class="col">
     <div class="p-4 border bg-light">


      <div class="p-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16" style="color: rgb(115, 229, 77) ;">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
        </svg>
        
      </div>

      <div class="p-4">
        <h3 class="font-weight-bold">StarUp</h3>
        <div>Crafted for a Great Wordpress start</div>  
      </div>
      

      <div class="p-4">Special Price
      <div><h3 class="font-weight-bold">$6.99/mo</h3></div>
      Discounted from $14.99/mo
      </div>
      

      <div class="p-4">
      <strong>1 </strong>Website
      <div> <strong>10 </strong>Gb Web Space</div>
      <strong>~10.000 </strong>visits Monthy
  
      <p><a href="URL">Essential Wordpress Feature</a></p>
      </div>
     

      <div class="p-4">
        <input  type="button" class="btnRegister" value="GET PLAN">
      </div>
      
     </div>
    </div>

    <div class="col">
      <div class="p-4 border bg-light">
        

        <div class="p-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" style="color: rgb(73, 201, 248);">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
        </div>
  
        <div class="p-4">
          <h3 class="font-weight-bold">GrowBig</h3>
          <div>Crafted for a Great Wordpress start</div>  
        </div>
        
  
        <div class="p-4">Special Price
        <div><h3 class="font-weight-bold">$9.99/mo</h3></div>
        Discounted from $24.99/mo
        </div>
        
  
        <div class="p-2">
        <strong>Unlimited</strong>Website
        <div> <strong>20 </strong>Gb Web Space</div>
        <strong>~25.000 </strong>visits Monthy
    
        <p><a href="URL">Essential Wordpress Feature</a>
          <a href="URL">Premiun Wordpress Feature</a>
        </p>
        
        </div>
       
  
        <div class="p-4">
          <input type="button"class="btnRegister" value="GET PLAN">
        </div>


      </div>
    </div>

    <div class="col">
      <div class="p-4 border bg-light">

        <div class="p-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16" style="color: rgb(172, 100, 41) ;">
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
          </svg>
        </div>
  
        <div class="p-4">
          <h3 class="font-weight-bold">GoGeek</h3>
          <div>Crafted for a Great Wordpress start</div>  
        </div>
        
  
        <div class="p-4">Special Price
        <div><h3 class="font-weight-bold">$14.99/mo</h3></div>
        Discounted from $39.99/mo
        </div>
        
  
        <div class="p-2">
        <strong>Unlimited</strong>Website
        <div> <strong>40 </strong>GB Web Space</div>
        <strong>~100.000 </strong>visits Monthy
    
        <p><a href="URL">Essential Wordpress Feature</a>
          <a href="URL">Premiun Wordpress Feature</a>
          
        </p>
        <a href="URL">Premiun Wordpress Feature</a>
        </div>
       
  
        <div class="p-2">
        
          <input  type="button" class="btnRegister" value="GET PLAN">
     
        </div>
        

      </div>
    </div>
  </div>
</div>