
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3 style="font-family: Lucidas">Lamentamos los inconvenientes</h3>
                        <p>Bienvenido al apartado de reporte de errores, por favor llene el siguiente dormulario</p>
                        
                    </div>
                    <div class="col-md-9 register-right">
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Cuentanos tu problema</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nombre *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Apellido *" value="" />
                                        </div>
                                        <div class="form-group">
                                          <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Número de Teléfono *" value="" />
                                      </div>

                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Correo Electronico " value="" />
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Escriba los dias u horas que estuvo sin red *" value="" />
                                        </div>
                 
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option class="hidden"  selected disabled>Posibles problemas</option>
                                                <option>El quipo de internet no enciende</option>
                                                <option>El equipo enciende pero no hay señal</option>
                                                <option>La velocidad de señal es menor a la solicitada</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Describa el problema *" value="" />
                                        </div>
                                        
                                            <a href="/BoxquiP/src/app/seccion/enviado/enviado.component.html">
                                                
                                        <input type="submit" class="btnRegister" value="Enviar reporte"/>
                                    </a>
                                    </div>
                                </div>
                            </div>
                           
                                </div>
                            </div>
                        </div>
                    </div>
              